<div class="max-w-md mx-auto p-6 bg-white border-2 border-gray-300 rounded-xl shadow-md">
  <h2 class="text-center font-mono font-bold mb-4">SISTEMA DE SEGURIDAD</h2>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Mensaje a Procesar:</label>
    <input type="text" [(ngModel)]="mensaje" class="mt-1 block w-full border-2 rounded-md p-2" placeholder="Texto original o cifrado...">
  </div>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Algoritmo:</label>
    <select [(ngModel)]="tipoSeleccionado" class="w-full p-2 border-2 rounded-md">
      <option value="sha256">Hash SHA-256</option>
      <option value="sha512">Hash SHA-512</option>
      <option value="symmetric">Clave Simétrica (AES)</option>
      <option value="asymetric">Clave Asimétrica (RSA)</option>
    </select>
  </div>

  <div class="mb-4" *ngIf="tipoSeleccionado !== 'sha256' && tipoSeleccionado !== 'sha512'">
    <label class="block text-sm font-medium text-gray-700">Llave / Password:</label>
    <input type="password" [(ngModel)]="llave" class="mt-1 block w-full border-2 border-blue-300 rounded-md p-2" placeholder="Ingresa la clave secreta...">
  </div>

  <div class="flex gap-2 justify-center mb-6">
    <button (click)="procesar()" class="bg-black text-white px-4 py-2 rounded-lg hover:bg-gray-800 transition">
      Encriptar / Hash
    </button>
    <button (click)="desencriptar()" 
        class="bg-red-500 text-white px-6 py-2 rounded-lg hover:bg-red-600 shadow-sm font-bold">
       Desencriptar
    </button>
  </div>

  <div>
    <label class="block text-sm font-medium text-gray-700">Resultado (Salida):</label>
    <textarea [(ngModel)]="resultado" readonly class="mt-1 block w-full bg-gray-100 border-2 rounded-md p-2 h-24 break-all"></textarea>
  </div>
</div>