<div class="max-w-md mx-auto p-6 bg-white border-2 border-gray-300 rounded-xl shadow-md">
  <h2 class="text-center font-mono font-bold mb-4">PROYECTO CRIPTOGRAFÍA</h2>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Mensaje:</label>
    <input type="text" [(ngModel)]="mensaje" 
           class="mt-1 block w-full border-gray-300 border-2 rounded-md p-2" 
           placeholder="Escribe algo...">
  </div>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Tipo de Algoritmo:</label>
    <select [(ngModel)]="tipoSeleccionado" class="w-full p-2 border-2 rounded-md">
      <option value="sha256">Hash SHA-256</option>
      <option value="sha512">Hash SHA-512</option>
      <option value="symmetric">Clave Simétrica (AES)</option>
      <option value="asymetryc">Clave Asimétrica</option>
    </select>
  </div>

  <div class="flex justify-center mb-6">
    <button (click)="procesar()" 
            class="bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800 transition">
      Procesar
    </button>
  </div>

  <div>

<textarea [(ngModel)]="resultado" readonly class="mt-1 block w-full bg-gray-100 border-2 rounded-md p-2 h-32 break-all"></textarea>
  </div>
</div>